*{ margin: 0; padding: 0; box-sizing: border-box;}
:root{
    font-size: 62.5%;
    line-height: 1.7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{ text-decoration: none; display: inline-block; }
ul { list-style: none; }
a,p{ font-size: 1.6rem; letter-spacing: .08em; word-spacing: .09em;}
p{margin-bottom: 1em;}
h1,h2,h3,h4,h5,h6{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .08em;
    margin-bottom: .5em;
    color: $dark;
}
section{ padding: 5rem 0; }